.cart {
	margin: 5px 0 0 5px;
	padding: 5px;
	width: calc(50% - 15px);
	min-width: 300px;
	background-color: #376969;
}

.cart h3 {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-family: monospace;
	font-size: 30px;
	color: #fff;
}

.cart h3:last-child {
	float: right;
	color: #69cd69;
}

.cart h3:last-child:hover {
	cursor: pointer;
	color: #fff;
	text-shadow: 3px 3px #000;
}

.cart div {
	border-bottom: 1px solid #fff;
}

.cart div:last-child {
	margin: 5px 0 0 0;
	border: none;
}

.cart div p {
	display: inline-block;
	margin: 5px 0 0 0;
	padding: 0;
	font-family: monospace;
	font-size: 20px;
	color: #fff;
}

.cart div p:last-child {
	float: right;
	margin-right: 15px;
}

.cart div p.button {
	float: right;
	color: #690505;
}

.cart div p.button:focus {
	outline: none;
}

.cart div p.button:hover {
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px #000;
}
